﻿@model ExpertSystemsProject.Models.Clause

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Clause</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Clause1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Clause1)
                @Html.ValidationMessageFor(model => model.Clause1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Parameter_idParameter, "Parameter_idParameter", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Parameter_idParameter", String.Empty)
                @Html.ValidationMessageFor(model => model.Parameter_idParameter)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Result_SequenceNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Result_SequenceNumber)
                @Html.ValidationMessageFor(model => model.Result_SequenceNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CertaintyFactor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CertaintyFactor)
                @Html.ValidationMessageFor(model => model.CertaintyFactor)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
