﻿@using ExpertSystemsProject.Resources;
@model ExpertSystemsProject.Models.Clause

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clause</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clause1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clause1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result_SequenceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result_SequenceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertaintyFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertaintyFactor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parameter.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parameter.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.idClause }) |
    @Html.ActionLink(Resources.Back, "Index")
</p>
