﻿@using ExpertSystemsProject.Resources;
@model IEnumerable<ExpertSystemsProject.Models.Clause>

@{
    ViewBag.Title = Resources.Clauses_Title;
}

<h2>@Resources.Clauses_Title</h2>

<p>
    @Html.ActionLink(Resources.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clause1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result_SequenceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertaintyFactor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parameter.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clause1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result_SequenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertaintyFactor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parameter.Name)
            </td>
            <td>
                @Html.ActionLink(Resources.Edit, "Edit", new { id=item.idClause }) |
                @Html.ActionLink(Resources.Details, "Details", new { id = item.idClause }) |
                @Html.ActionLink(Resources.Delete, "Delete", new { id = item.idClause })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink(Resources.Back, "Index", "ExpertMode")
</div>
