﻿@using ExpertSystemsProject.Resources;
@model ExpertSystemsProject.Models.ExpertSystem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExpertSystem</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.idExpertSystem }) |
    @Html.ActionLink(Resources.Back, "Index")
</p>
