﻿@using ExpertSystemsProject.Resources;
@model IEnumerable<ExpertSystemsProject.Models.ExpertSystem>

@{
    ViewBag.Title = Resources.ExpertSystems_Title;
}

<h2>@Resources.ExpertSystems_Title</h2>

<p>
    @Html.ActionLink(Resources.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idExpertSystem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idExpertSystem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink(Resources.Edit, "Edit", new { id=item.idExpertSystem }) |
            @Html.ActionLink(Resources.Details, "Details", new { id = item.idExpertSystem }) |
            @Html.ActionLink(Resources.Delete, "Delete", new { id = item.idExpertSystem })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink(Resources.Back, "Index", "ExpertMode")
</div>