﻿@using ExpertSystemsProject.Resources;
@model ExpertSystemsProject.Models.ParameterValue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ParameterValue</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SequenceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SequenceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parameter.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parameter.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.idParameterValue }) |
    @Html.ActionLink(Resources.Back, "Index")
</p>
