﻿@using ExpertSystemsProject.Resources;
@model IEnumerable<ExpertSystemsProject.Models.ParameterValue>

@{
    ViewBag.Title = Resources.ParametersValues_Title;
}

<h2>@Resources.ParametersValues_Title</h2>

<p>
    @Html.ActionLink(Resources.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idParameterValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SequenceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parameter.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idParameterValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SequenceNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parameter.Name)
        </td>
        <td>
            @Html.ActionLink(Resources.Edit, "Edit", new { id=item.idParameterValue }) |
            @Html.ActionLink(Resources.Details, "Details", new { id = item.idParameterValue }) |
            @Html.ActionLink(Resources.Delete, "Delete", new { id = item.idParameterValue })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink(Resources.Back, "Index", "ExpertMode")
</div>