﻿@using ExpertSystemsProject.Models;
@using ExpertSystemsProject.Models.Enums
@using ExpertSystemsProject.Resources;
@model List<List<int>>

@{
    ViewBag.Title = Resources.FillSourceParameters_Title;
}

<h2>@Resources.FillSourceParameters_Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    var parametersValuesDictionary = (Dictionary<Parameter, List<ParameterValue>>[])ViewBag.ParametersValuesDictionary;

    for (int j = 0; j < parametersValuesDictionary.Length; j++)
    {
        <hr/>
        int i = 0;
        

        foreach (var item in parametersValuesDictionary[j])
        {
            var parameter = item.Key;
            if (parameter.ParameterRelationType.RelationType != 
                Enum.GetName(typeof (ParameterRelationTypeEnum), ParameterRelationTypeEnum.Source))
            {
                continue; 
            }
            var selectList = new SelectList(item.Value, "idParameterValue", "Value");
        
            <div class="form-horizontal">
                <h4>Parameter</h4>

                <div class="form-group">
                    @Html.Label(Resources.Parameter_Name, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Label(parameter.Name);
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label(Resources.Value, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model[j][i], selectList)
                    </div>
                </div>
            </div>
            <hr />
            i++;
        }
    }
    
    <div class="btn-group">
        @Html.ActionLink(Resources.Back, "SelectTargetParameter", "UserMode", new { @class = "btn btn-default btn-left" })
        <input type="submit" value=@Resources.NextStep class="btn btn-primary btn-right" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
