﻿@using ExpertSystemsProject.Resources

@model Dictionary<string, List<string>>

@{
    ViewBag.Title = @Resources.Result;
    int counter = 0;
}

<h2>@Resources.Result</h2>
@foreach (var key in Model.Keys)
{
    counter++;
    <hr/>
    <br />
    @Html.Label(String.Format(@Resources.Result + " {0}:", counter), new { @class = "h3" });
    <br />
    @Html.Label(key, new { @class = "h3" });
    <br />
    <br />

    @Html.Label(@Resources.Explanation, new { @class = "h4" });

    
    foreach (var explanation in Model[key])
    {
        <br />
        @Html.Label(explanation);
    }
    <hr/>
}
