﻿@using ExpertSystemsProject.Resources

@model IEnumerable<ExpertSystemsProject.Models.ExpertSystem>

@{
    ViewBag.Title = Resources.SelectExpertSystem_Title;
}

<h2>@Resources.SelectExpertSystem_Title</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>
    @foreach (var item in Model) 
    {
        string classNameOfSelectedRow = "";
    
        <!--Если id совпадает с с выбранным, выделяем строку-->
        if (item.idExpertSystem == ViewBag.SelectedExpertSystemID)
        {
            classNameOfSelectedRow = "success";
        }
    
        <tr class="@classNameOfSelectedRow">
            <td>

                @Html.ActionLink(Resources.Select, "SelectExpertSystem", new { id = item.idExpertSystem })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }

</table>

<div class="btn-group">
    @if (ViewBag.SelectedExpertSystemID != null)
    {
        @Html.ActionLink(Resources.NextStep, "SelectTargetParameter", new { expertSystemId = ViewBag.SelectedExpertSystemID }, new { @class = "btn btn-primary btn-right" })
    }
</div>
