﻿@using ExpertSystemsProject.Resources

@model IEnumerable<ExpertSystemsProject.Models.Parameter>

@{
    ViewBag.Title = Resources.SelectTargetParameter_Title;
    bool isSameParameter = false;
    string parameterName = null;
}

<h2>@Resources.SelectTargetParameter_Title</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InfluencingParameters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParameterRelationType.RelationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParameterType.Type)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if ((isSameParameter)&&(parameterName == item.Name))
        {
            continue;
        }
        foreach (var parameter in Model)
        {
            if ((parameter.Name == item.Name) && (parameter.idParameter!=item.idParameter))
            {
                isSameParameter = true;
                parameterName = item.Name;
                break;
            }
        }
        
        string classNameOfSelectedRow = "";

        <!--Если id совпадает с с выбранным, выделяем строку-->
        if (item.idParameter == ViewBag.SelectedParameterID)
        {
            classNameOfSelectedRow = "success";
        }

        <tr class="@classNameOfSelectedRow">
            <td>
                @Html.ActionLink(Resources.Select, "SelectTargetParameter", new { parameterId = item.idParameter })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InfluencingParameters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterRelationType.RelationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParameterType.Type)
            </td>
        </tr>
    }

</table>
<div class="btn-group">
    @Html.ActionLink(Resources.Back, "SelectExpertSystem", "UserMode", new { @class = "btn btn-default btn-left" })
    @if (ViewBag.SelectedParameterID != null)
    {
        @Html.ActionLink(Resources.NextStep, "FillSourceParameters", new { parameterId = ViewBag.SelectedParameterID}, new { @class = "btn btn-primary btn-right" })
    }
</div>