﻿@using ExpertSystemsProject.Resources;
@model ExpertSystemsProject.Models.Parameter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parameter</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InfluencingParameters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InfluencingParameters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpertSystem.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpertSystem.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParameterRelationType.RelationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParameterRelationType.RelationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParameterType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParameterType.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.idParameter }) |
    @Html.ActionLink(Resources.Back, "Index")
</p>