﻿@model ExpertSystemsProject.Models.Parameter

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Parameter</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idParameter)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParameterType_idParameterType, "ParameterType_idParameterType", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ParameterType_idParameterType", String.Empty)
                @Html.ValidationMessageFor(model => model.ParameterType_idParameterType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParameterRelationType_idRelationType, "ParameterRelationType_idRelationType", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ParameterRelationType_idRelationType", String.Empty)
                @Html.ValidationMessageFor(model => model.ParameterRelationType_idRelationType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InfluencingParameters, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InfluencingParameters)
                @Html.ValidationMessageFor(model => model.InfluencingParameters)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpertSystem_idExpertSystem, "ExpertSystem_idExpertSystem", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ExpertSystem_idExpertSystem", String.Empty)
                @Html.ValidationMessageFor(model => model.ExpertSystem_idExpertSystem)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
