﻿@using ExpertSystemsProject.Resources; 

@model IEnumerable<ExpertSystemsProject.Models.Parameter>

@{
    ViewBag.Title = Resources.Parameters_Title;
}

<h2>@Resources.Parameters_Title</h2>

<p>
    @Html.ActionLink(Resources.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idParameter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InfluencingParameters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpertSystem.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParameterRelationType.RelationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParameterType.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idParameter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InfluencingParameters)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpertSystem.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParameterRelationType.RelationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParameterType.Type)
        </td>
        <td>
            @Html.ActionLink(Resources.Edit, "Edit", new { id=item.idParameter }) |
            @Html.ActionLink(Resources.Details, "Details", new { id = item.idParameter }) |
            @Html.ActionLink(Resources.Delete, "Delete", new { id = item.idParameter })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink(Resources.Back, "Index", "ExpertMode")
</div>