﻿@using Microsoft.AspNet.Identity
@using ExpertSystemsProject.Resources
@using ExpertSystemsProject.Helpers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(@Resources.HelloUser + User.Identity.GetUserName() + "!", "Manage", "Account", null, new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.LogOff</a></li>
        <li>@Html.ActionLink(@CultureHelper.GetNextCulture(), "ChangeCulture", "Base", new { returnUrl = Request.RawUrl }, null)</li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(@Resources.Register, "Register", "Account", null, new { id = "registerLink" })</li>
        <li>@Html.ActionLink(@Resources.LogIn, "Login", "Account", null, new { id = "loginLink" })</li>
        <li>@Html.ActionLink(@CultureHelper.GetNextCulture(), "ChangeCulture", "Base", new { returnUrl = Request.RawUrl }, null)</li>
    </ul>
}