﻿@using ExpertSystemsProject.Resources

@{
    ViewBag.Title = @Resources.ExpertMode_ExpertMode_Title;
}

<h2>@Resources.ExpertMode_ExpertMode_Title</h2>

<div class="row">
    <div class="col-md-4">
        <h2>@Resources.ExpertSystems_Title</h2>
        <p>@Resources.ExpertMode_ExpertSystemsDescription</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "ExpertSystems")>@Resources.ExpertSystems_Title &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Resources.Parameters_Title</h2>
        <p>@Resources.ExpertMode_ParametersDescription</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Parameters")>@Resources.Parameters_Title &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Resources.ParametersValues_Title</h2>
        <p>@Resources.ExpertMode_ParametersValuesDescription</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "ParametersValues")>@Resources.ParametersValues_Title &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Resources.Clauses_Title</h2>
        <p>@Resources.ExpertMode_ClausesDescription</p>
        <p><a class="btn btn-default" href=@Url.Action("Index", "Clauses")>@Resources.Clauses_Title &raquo;</a></p>
    </div>
</div>
