﻿@using ExpertSystemsProject.Resources

@{
    ViewBag.Title = @Resources.Home;
}

<div class="jumbotron">
    @Html.Raw(@Resources.HomePageContent)
    <p>
        <a href=@Resources.ExpertSystemsWikiPage class="btn btn-primary btn-large">
            @Resources.HomePageLearnMoreButton &raquo;
        </a>
    </p>
</div>